@import url(styles.css);

$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

// $bgImage: "https://source.unsplash.com/random/1800x900";
$bgImage: "../images/L0tsGE7634E-unsplash.jpg";

body {
  margin: 0;
}

header {
  height: 120px;
  // background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url($bgImage);
  // background-image: url($bgImage);
  background: var(--purple);
  h1 {
    margin: 0;
    line-height: 120px;
    font-size: 3rem;
    color: #fff;
    text-align: center;
  }
}

main, footer {
  margin: 0 auto;
  max-width: 650px;

}

main > hr:nth-child(2) {
  background: #4b3842;
}
